<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"  xmlns:gap= "http://phonegap.com/ns/1.0" id= "com.phonegap.example"  versionCode= "10" version= "1.0.0" >
    <name>ConvoBro</name>
    <description>
       Never Run out of things to say during conversation. This app, convobro, allows you skip brainstorming ideas and use the best list of tips and questions that can keep the conversation alive. 
    </description>
    <author email="myemailum14@gmail.com" href="#">
        Techsin
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="fullscreen" value="true" />
    <gap:plugin name="org.apache.cordova.device-motion" version="0.2.10" />

</widget>
